{% extends 'music/base.html' %}
{% block title %} Album Details {% endblock %}
{% block body %}
    {% if album.album_logo %}
        <img  width="300"  src=" {{ album.album_logo.url }}">
    {% else %}
        <img src="{{ DEFAULT_URL }}" />
    {% endif %}
    <h3>{{ album.artist }}</h3>

    <form action="{% url 'music:favorite' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter}}" name="song", value="{{ song.id }}"/>
            <label for="song{{ forloop.counter}}">
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="http://i.imgur.com/b9b13Rd.png" />
                {% endif %}
            </label><br/>
        {% empty %}
            <p>No songs here yet :(</p>
        {% endfor %}
        <p><a href="">Edit</a> | <a href="{% url 'music:detail' album.id %}">Delete</a>
         | <a href="{% url 'music:song_new' %}" onclick='window.comment_confirm();'>Add</a></p>
        {% if album.song_set %}
            <input type="submit" value="Favorite">
        {% endif %}
    </form>

<hr>
{% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'music:add_comment_to_post' album.id %}" method="post">Add comment</a>
 {% endif %}
{% for comment in album.comment_set.all %}
    <div class="comment">

        <p>{{ comment.comment|linebreaks }}</p>
        <p>{{ comment.created_date }}</p>
        <p><a href="{% url 'music:edit_comment' comment.id %}">Edit</a> | <a href="{% url 'music:delete_comment' comment.id %}" onclick='window.comment_confirm();'>Delete</a></p>
        {% if comment.edit_date %}
            Last edited {{ comment.edit_date }}
        {% endif %}
        <strong>{{ comment.author }}</strong>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
<script type="text/javascript">
    window.comment_confirm = function() {
        var isValid = confirm('Are you sure ?');
        if (!isValid) {
            event.preventDefault();
            alert("It wont delete. Yay!");
        }else {
            alert("It will delete in a while.");
        }
    }
</script>
{% endblock %}