{% extends 'music/base.html' %}

{% block head %}
	<title>Editing a profile</title>
{% endblock %}

{% load static %}

{% block body %}
     <h2>Editing a profile</h2>
     <div>
         <form enctype="multipart/form-data" method="POST">
             {% csrf_token %}
             <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                    {% if profile.avatar.url != 'blog/static/blog/imgs/default.svg' %}
                        <img src='{{ profile.avatar.url|slice:"4:" }}'>
                    {% endif %}
                    </td>
                </tr>
                 <tr>
                    <td></td>
                    <td><button class="btn btn-warning" type="submit">Update</button></td>
                </tr>
             </table>
         </form>
     </div>

{% endblock %}