{% extends 'music/base.html' %}
{% block title %} Albums {% endblock %}
{% block body %}

{% if messages %}
            <div>
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="alert alert-success alert-dismissible" role="alert">
                        {% for message in messages %}
                            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
                                <button type="button" class="close" data-dismiss="alert" onclick="$('.alert').hide();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>

        {% endif %}

{% if all_albums %}
    <h3>Here are all my albums: </h3>
    <ul>
        {% for album in all_albums %}
        <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
        <a href="{% url 'music:edit_album' album.id %}">Edit</a> |
        <a href="{% url 'music:delete_album_confirmation' album.id %}">Delete</a> |
        <a href="{% url 'music:detail' album.id %}">Comments: {{ album.comment_set.count }}</a>
        {% if album.edit_date %}
            , last edited {{ album.edit_date }}
        {% endif %}
        {% if user.is_authenticated %}
            </br><a href="{% url 'music:view_profile' user.username %}">{{ album.author }}</a>
        {% endif %}
        {% endfor %}
    </ul>

    {% else %}
        <h3>You don't have any albums</h3>
    {% endif %}
<script type="text/javascript">
    window.mytest = function() { 
        var isValid = confirm('Are you sure ?');
        if (!isValid) { 
            event.preventDefault(); 
            alert("It wont delete. Yay!");
        }else {
            alert("It will delete in a while.");
        }
    }
</script>
{% endblock %}